<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.data.warehouse.worker.dao.PublishLogDAO">

    <resultMap id="file" type="PublishFile">
        <result property="publishId" column="publish_id"/>
        <result property="filename" column="file"/>
        <result property="flag" column="flag"/>
        <result property="host" column="host"/>
        <result property="timestamp" column="time_stamp"/>
    </resultMap>

    <select id="getPublishListByID" resultMap="file" parameterType="List">
		select * from etl_publish_log where publish_Id=#{taskId}
	</select>

    <insert id="insertPublishFile" parameterType="PublishFile">
	INSERT INTO etl_publish_log
        (
            publish_id,file,flag,host,time_stamp
        )
        VALUES
            (
            #{publishId},#{filename},#{flag},#{host},#{timestamp}
            )
	</insert>



</mapper>