<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="task" type="com.dianping.data.warehouse.domain.TaskDO"/>
        <typeAlias alias="taskRela" type="com.dianping.data.warehouse.domain.TaskRelaDO"/>
        <typeAlias alias="instance" type="com.dianping.data.warehouse.domain.InstanceDO"/>
        <typeAlias alias="instanceRela" type="com.dianping.data.warehouse.domain.InstanceRelaDO"/>
        <typeAlias alias="exceptionAlertDO" type="com.dianping.data.warehouse.domain.ExceptionAlertDO"/>
    </typeAliases>

    <mappers>
        <mapper resource="sqlmap/task-mapper.xml"/>
        <mapper resource="sqlmap/instance-mapper.xml"/>
        <mapper resource="sqlmap/exception-mapper.xml"/>
    </mappers>
</configuration>