<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:pigeon="http://code.dianping.com/schema/pigeon"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://code.dianping.com/schema/pigeon
           http://code.dianping.com/schema/pigeon/pigeon-service-2.0.xsd
           "
       default-lazy-init="true" default-autowire="byName">

    <pigeon:annotation/>

    <context:annotation-config/>
    <context:component-scan base-package="com.dianping"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean name="placeholder" lazy-init="false" class="com.dianping.lion.client.InitializeConfig">
    </bean>

    <bean id="dataSource"
    class="com.mchange.v2.c3p0.ComboPooledDataSource"
    destroy-method="close">

        <property name="driverClass" value="${galaxy-halley.JDBC.driver}"></property>
        <property name="jdbcUrl" value="${galaxy-halley.JDBC.url}"></property>
        <property name="user" value="${galaxy-halley.JDBC.username}"></property>
        <property name="password" value="${galaxy-halley.JDBC.password}"></property>
        <property name="initialPoolSize" value="8"></property>
        <property name="minPoolSize" value="5"></property>
        <property name="maxPoolSize" value="10"></property>
        <property name="maxIdleTime" value="140"></property>
        <property name="acquireIncrement" value="3"></property>
        <property name="idleConnectionTestPeriod" value="60"></property>
        <property name="acquireRetryAttempts" value="20"></property>
        <property name="breakAfterAcquireFailure" value="false"></property>
        <property name="testConnectionOnCheckout" value="false"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource" p:configLocation="classpath:mybatis-config.xml"/>

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"-->
    <!--p:basePackage="com.dianping.data.warehouse.core.dao"/>-->

    <bean id="instanceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface"
                  value="com.dianping.data.warehouse.core.dao.InstanceDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="taskDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface"
                  value="com.dianping.data.warehouse.core.dao.TaskDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="taskRelaDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface"
                  value="com.dianping.data.warehouse.core.dao.TaskRelaDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="publishFileDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface"
                  value="com.dianping.data.warehouse.core.dao.PublishFileDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="monitorDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface"
                  value="com.dianping.data.warehouse.core.dao.MonitorDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>


    <tx:annotation-driven/>
</beans>
